{%- if title -%}
  {%- assign pageTitle = title -%}
{%- else -%}
  {%- assign pageTitle = metadata.title -%}
{%- endif -%}
{%- if description -%}
  {%- assign pageDescription = description -%}
{%- else -%}
  {%- assign pageDescription = metadata.description -%}
{%- endif -%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ pageDescription }}">
    {% if eleventyExcludeFromCollections -%}
    <meta name="robots" content="noindex">
    {%- endif %}
    <title>{{ pageTitle }}</title>
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="preload" href="/fonts/Barlow-Regular.woff2" as="font" type="font/woff2" crossorigin> 
    <link rel="preload" href="/fonts/Barlow-Bold.woff2" as="font" type="font/woff2" crossorigin> 
    <link rel="preload" href="/fonts/Redaction-Regular.woff2" as="font" type="font/woff2" crossorigin> 
    <link rel="preload" href="/fonts/Redaction-Italic.woff2" as="font" type="font/woff2" crossorigin> 
    <link rel="preload" href="/fonts/Redaction-Bold.woff2" as="font" type="font/woff2" crossorigin> 
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div role="document">
      {% include 'partials/global-header' %}
      <main class="main-content" role="main">
        {{ content }}
      </main>
      {% include 'partials/global-footer' %}
    </div>
    <script type="text/javascript">

      COLOUR_THEME_MEDIA_QUERY =          '(prefers-color-scheme: dark)';
      COLOUR_THEME_DATA_ATTRIBUTE_LABEL = 'theme';
      COLOUR_THEME_DARK_LABEL =           'dark';
      COLOUR_THEME_LIGHT_LABEL =          'light';
      COLOUR_THEME_AUTO_LABEL =           'auto';

      function getThemePreference() {
        return localStorage.getItem(COLOUR_THEME_DATA_ATTRIBUTE_LABEL) || COLOUR_THEME_AUTO_LABEL;
      }

      function setThemePreference(theme) {
        localStorage.setItem(COLOUR_THEME_DATA_ATTRIBUTE_LABEL, theme); 
        setTheme();
      }

      function getOSTheme() {
        if (window.matchMedia && window.matchMedia(COLOUR_THEME_MEDIA_QUERY).matches) {
          return COLOUR_THEME_DARK_LABEL;
        } else {
          return COLOUR_THEME_LIGHT_LABEL;
        }
      }

      window.matchMedia(COLOUR_THEME_MEDIA_QUERY).addEventListener('change', event => {
        if (getThemePreference() === COLOUR_THEME_AUTO_LABEL) setTheme();
      });

      function setTheme() {
        rootNode = document.documentElement;
        themePreference = getThemePreference();
      
        if (themePreference === COLOUR_THEME_AUTO_LABEL) {
          
          rootNode.setAttribute(COLOUR_THEME_DATA_ATTRIBUTE_LABEL, getOSTheme());
          return;
        } 
        rootNode.setAttribute(COLOUR_THEME_DATA_ATTRIBUTE_LABEL, themePreference);
      }

      setTheme();

      

    </script>
  </body>
</html>
